/* This is the design for the header navigation */
.navigation {
    width: 100%;
    margin-bottom: 50px;
    flex-shrink: 0;
}
.logo {
    display: flex;
    text-align: center;
}
.topNav {
    width: auto;
    padding-top: 15px;
    list-style-type: none;
    display: flex;
    vertical-align: top; 
}

li {
    color: #7E5C82;
    text-align: center;
    list-style-type: none;
    list-style: none;
    /* Navigation Style */
    font-family: Nunito Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 20%;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.topNav li:hover {
    color: #518265;
}
.topNav li:active {
    color: #8578A8;
}
.topNav li:focus{
    color: var(--meghan-green, #518265);
    text-align: center;
    text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

    /* Navigation Style */
    font-family: Nunito Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* This is the design for the body */
.content {
    padding-top: 35px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-rows: 33% 33% 33%;
}
h1 {
    display: flex;
    width: 841px;
    height: 183px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #4D4D4D;
    text-align: center;
    font-family: 'Yesteryear';
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-column: 4;
    grid-row: 1;
}
.lavender {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    grid-column: 1/6;
    grid-row: 1/3;
}
.aboutMeg {
    display: flex;
    width: 710px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #000;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 45px; /* 187.5% */
}
.purpleOverlap {
    display: inline-flex;
    height: 323px;
    padding: 40px 42px 40px 59px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background: var(--secondary-purple, #E3DEEE);
    grid-column: 5/8;
    grid-row: 2/3;
}

/* This is the design for the footer */
.preFooter {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.purpleButton {
    display: flex;
    width: 230px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 65px;
    background: var(--normal-button-purple, #A181B1);
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.purpleButton:hover {
    background-color: #C4ABD1;
}
.purpleButton:active {
    background-color: #8578A8;
}
h2 {
    display: flex;
    width: 229px;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--dark-purple-text, #7E5C82);
    text-align: center;
    /* Navigation Style */
    font-family: Nunito Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.greenFoot {
    background-color: #518265;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    /* Style for footer writing */
    color: white;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-grid;
    vertical-align: top;
    grid-template-columns: auto auto auto auto auto auto;
}
#linkedIn {
    width: 70px;
    height: 70.597px;
    padding: 20px;
    padding-top: 40px;
    flex-shrink: 0;
    grid-column: 9;
}
#MBLogo {
    width: 90px;
    height: 90px;
    padding-top: 30px;
    flex-shrink: 0;
    grid-column: 10;
}
.contact1 {
    padding-top: 40px;
    padding-left: 20px;
}
.contact2 {
    padding-left: 20px;
    padding-top: 10px;
}

*,  *::before, *::after {     margin: 0;     padding: 0;     box-sizing: border-box; }